{% extends "base.html" %}
{% load static %}
{% block page_title %} TOPICS|CREATOR {% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'UserPage' user.username %}"> Home </a>
    </div>
    <a href="{% url 'project_index' user.username knowledge %}"> Topics </a>
{% endblock %}

{% block page_content %}
    <hr>
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-2 ">
                <form method="post">
                    {% csrf_token %}
                    {% for field in form %}
                        <hr> {{ field.label_tag }} <p> {{ field }} </p>
                    {% endfor %}
                    <input type="submit" class="btn btn-primary" value="Сохранить"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
