{% extends "base.html" %}
{% load static %}
{% load topics_custom_filters %}

{% block sub_script %}
    <script type="text/javascript" src="{% static 'blog_script.js' %}"></script>
{% endblock %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'topic_style.css' %}"/> {# CSS style from app #}

    <style>
        {% for topic in object_list %}
            input[id="{{ topic.0.title|slugify }}"]:checked ~ .cards_topics > div:not(.{{ topic.0.title|slugify }}) {
                display: none;
            }
        {% endfor %}
    </style>
{% endblock %}

{% block page_title %}| {{knowledge}} TOPICS{% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'UserPage' username %}"> Home </a>
    </div>
    <a href="{% url 'article_index' username %}"> Blog </a>

    {% if username == user.username %}
        <a href="{% url 'project_creator' username knowledge %}"> Create </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <hr>
<body>
    <div class="my_content">
        <div class="topics">
            <label for="All"> All in {{knowledge}} </label>
            {% for topic in object_list %}
                <label for="{{ topic.0.title|slugify }}">{{ topic.0.title }}</label>
            {% endfor %}
        </div>

        <input type="radio" id="All" name="r1">
        {% for topic in object_list %}
            <input type="radio" id="{{ topic.0.title|slugify }}" name="r1">
        {% endfor %}

        <div class="cards_topics">
            {% if not posts and user.username == username and object_list%} 
                <h5 style="color: rgb(112, 112, 112);text-align: center;width: 100%;margin: 20px;"> Create your first post in this section :) </h3>
            {%elif not posts and user.username != username and object_list%}
                <h5 style="color: rgb(112, 112, 112);text-align: center;width: 100%;margin: 20px;"> The user has no posts in this section :( </h3>
            {%elif not posts and user.username == username and not object_list%}
                <h5 style="color: rgb(112, 112, 112);text-align: center;width: 100%;margin: 20px;"> Create your first post and topic in this section :) </h3>
            {%elif not posts and user.username != username and not object_list%}
                <h5 style="color: rgb(112, 112, 112);text-align: center;width: 100%;margin: 20px;"> The user has no posts and topic in this section :( </h3>
            {%endif%}
            {% for post in posts %}
                <div class="topic {% for topic in post.categories.all %} {{ topic.name|slugify }} {% endfor %}">
                    <div class="img_container">
                        {% if post.image != '' %}
                            <img src={{ post.image.url }} onerror="this.src = '{% static 'img/noimg.jpg' %}';">
                        {% endif %}
                    </div>
                     <div class="description_wrapper">
                        <div class="desc">
                            <a style="color: azure;text-decoration: none;" href="{% url 'article_detail' post.user.username post.pk %}">
                                {{ post.header }}
                            </a>
                        </div>
                     </div>
                </div>
            {% endfor %}
        </div>

        <div class="wrapper_sort_system">
            <span style="text-align: center"> Number of likes in topic </span>
            <div class="sort_system">
                <canvas id="canvas_sort_system" height="450"> </canvas>
            </div>
        </div>
        <script type="text/javascript" src="{% static 'Chart.min.js' %}"></script>
        <script>
            var ctx = document.getElementById('canvas_sort_system').getContext('2d');
            var myChart = new Chart(ctx, {
                type: 'doughnut',
                data: {
                    labels: {{ object_list|make_topic_names|safe }},
                    datasets: [{
                        data: {{ object_list|make_topic_likes }},
                        backgroundColor: {{ object_list|make_topic_colors|safe }}
                    }],
                }
            });
        </script>
        <div class="break"></div>
        {% if is_paginated %}
            <div class="pagination">
            {% if page_obj.has_previous %}
                <div>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous&nbsp;</a></span>
                </div>
            {% endif %}
                <div class="">
                    <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </div>
            {% if page_obj.has_next %}
                <div>
                    <span><a href="?page={{ page_obj.next_page_number }}">&nbsp;Next</a></span>
                </div>
            {% endif %}
            </div>
        {% endif %}
    </div>
</body>
{% endblock %}
