{% extends "base.html" %}
{% load static %}
{% block page_title %} TOPICS|CREATOR {% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'UserPage' user.username %}"> Home </a>
    </div>
    <a href="{% url 'project_index' user.username knowledge %}"> Topics </a>
{% endblock %}

{% block page_content %}
    <hr>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </form>
    </div>
{% endblock %}