{% extends "base.html" %}
{% load static %}

{% block sub_script %}
    <script type="text/javascript" src="{% static 'blog_script.js' %}"></script>
{% endblock %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'topic_style.css' %}"/> {# CSS style from app #}

    <style>
        {% for topic in object_list %}
            .wrapper_sort_system > input:checked + .sort_system ._{{ topic.1 }},
            .wrapper_sort_system > input:checked + .sort_system ._{{ topic.1 }} + span {
                {# topic.1 is count articles #}
                order: {{ topic.1 }};
            }

            .sort_system ._{{ topic.1 }} > .scale {
                width: 50%;
                {# topic.2 is background scale #}
                background: {{ topic.2 }};
            }

            input[id="{{ topic.0.title }}"]:checked ~ .cards_topics > div:not(.{{ topic.0.title }}) {
                opacity: 0.5;
            }

            .wrapper_sort_system ._{{ topic.1 }} {
                display: flex;
                justify-content: space-between;
                margin: 3%;
                font: 1em "Space Mono", monospace;
            }
        {% endfor %}
    </style>
{% endblock %}

{% block page_title %} TOPICS {% endblock %}

{% block buttom_navbar %}
    <a class="active" href="{% url 'UserPage' username %}"> Home </a>
    <a href="{% url 'article_index' username %}"> Blog </a>
    <a href="https://github.com/eiire"> Contact </a>
    <a href="{% url 'about' username %}"> About </a>

    {% if username == user.username %}
        <a href="{% url 'project_creator' username knowledge %}"> Create </a>
    {% endif %}
{% endblock %}

{% block page_content %}
    <hr>

    <div class="my_content">
        <div class="topics">
            <label for="All"> All </label>
            {% for topic in object_list %}
                <label for="{{ topic.0.title }}">{{ topic.0.title }}</label>
            {% endfor %}
        </div>

        <input type="radio" id="All" name="r1">
        {% for topic in object_list %}
            <input type="radio" id="{{ topic.0.title }}" name="r1">
        {% endfor %}

        <div class="cards_topics">
            {% for topic in object_list %}
                {% for article in topic.3 %}
                    <div class="topic {{ topic.0.title }}">

                        <div class="img_container">
                            {% if article.image != '' %}
                                <img src={{ article.image.url }}>
                            {% endif %}
                        </div>

                        <div class="description_wrapper">
                            <div class="desc">
                                {{ article.header }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endfor %}
        </div>

        <div class="wrapper_sort_system">
            <span> Number of likes in topic: </span>
            <label for="sort_system"> descending </label>
            <input type="checkbox" id="sort_system">

            <div class="sort_system">
                {% for topic in object_list %}
                    <div class="_{{ topic.1 }}">
                        <div class="scale"></div>
                        <div class="numb">{{ topic.1 }}</div>
                    </div>

                    <span> {{ topic.0.title }} </span>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
