{% extends "base.html" %}
{% load static %}
{% block page_title %}ARTICLES{% endblock %}
{% block page_content %}

    <div class="topnavigation">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
        {% if user == True %}
            <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;"
               href="{% url 'get_userpage' user_id %}">My portfolios</a>
            <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;"
               href="{% url 'article_creation' user_id %}">Create</a>
        {% endif %}
        <font style="float: right"> <a href="{% url 'about' %}">About</a> </font>
    </div>

    <div class="container-fluid">
        <hr>
        <div class="row row-cols-1 row-cols-md-4">
            {% for post in posts %}
                <div class="col mb-4">
                    {% if user.is_authenticated %}
                        <a href="{% url 'article_dlt' user_id post.pk %}"> Delete article </a>
                    {% endif %}

                    <div class="card">
                        <small>
                            {{ post.created_on.date }} |&nbsp;
                            Categories:&nbsp;
                            {% for category in post.categories.all %}
                                <a href="{% url 'article_category' category.name %}">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </small>

                        <img src={{ post.image.url }} class="card-img-top" alt="...">

                        <div class="card-body">
                            <h5 class="card-title">{{ post.title }}</h5>
                            <p class="card-text">{{ post.body | slice:":50" | safe }}</p>
                            <hr>
                            <a href="{% url 'article_detail' user_id post.pk %}" class="btn btn-primary">Detailed</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
