{% extends "base.html" %}
{% block page_title %}ARTICLE{% endblock %}
{% block page_content %}

    <div class="my_navbar" id="my_navbar">
        <a class="active" href="{% url 'index' %}">Home</a>
        {% if user == True %}
            <a href="{% url 'get_userpage' user_id %}">My portfolios</a>
            <a href="{% url 'article_creation' user_id %}">Create</a>
        {% endif %}
        <a href="{% url 'about' %}">About</a>

        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>

    <div class="col-md-8 offset-md-2">
        <h1>{{ post.title }}</h1>

        <small>
            {{ post.created_on.date }} |&nbsp;
            Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'article_category' category.name %}">
                    {{ category.name }}
                </a>&nbsp;
            {% endfor %}
        </small>

        <p>{{ post.body | safe | linebreaks }}</p>

        {% if form %}
            <h3>Leave a comment:</h3>

            <form action="/blog/@{{ user }}/{{ post.pk }}/" method="post">
                {% csrf_token %}
                <div class="form-group">
                    {{ form.author }}
                </div>

                <div class="form-group">
                    {{ form.body }}
                </div>

                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        {% endif %}

        <h3>Comments:</h3>

        {% for comment in comments %}
            <p>
                On {{ comment.created_on.date }}&nbsp;
                <b>{{ comment.author }}</b> wrote:
            </p>

            <p>{{ comment.body }}</p>
            <hr>
        {% endfor %}
    </div>
{% endblock %}