{% extends "base.html" %}
{% load static %}
{% block page_title %}ARTICLES{% endblock %}
{% block page_content %}

    <div class="my_navbar" id="my_navbar">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
        {% if user == True %}
            <a href="{% url 'get_userpage' user_id %}">My portfolios</a>
            <a href="{% url 'article_creation' user_id %}">Create</a>
        {% endif %}
        <a href="{% url 'about' %}">About</a>

        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>

    <hr>

    <div style="background: #f8f9fa" class="container mt-4">
        <div class="card-columns blog">
            {% for post in posts %}
                <div class="card box-shadow-sm blog_card">
                    <div style="background: #e4e4e4" class="card-header text-black">
                        <h5 class="my-0 font-weight-normal" id="art_header">{{ post.title }}</h5>
                    </div>

                    <div class="card-body" style="background: #ffffff">
                        <small>
                            {{ post.created_on.date }} |&nbsp;
                            Categories:&nbsp;
                            {% for category in post.categories.all %}
                                <a href="{% url 'article_category' post.user_id category.name %}">
                                    {{ category.name }}
                                </a>
                            {% endfor %}
                        </small>

                        <img class="img-thumbnail" src={{ post.image.url }}>
                        <p></p>
                        <p class="card-text">{{ post.header | slice:"100" }}</p>

                        {% if is_user %}
                            <a href="{% url 'article_dlt' user_id post.pk %}"> Delete article </a>
                        {% endif %}
                    </div>

                    <a href="{% url 'article_detail' user_id post.pk %}" type="button" class="btn btn-block my_style">Detailed</a>
                </div>
                <hr>
            {% endfor %}
        </div>
    </div>

    <hr>
{% endblock %}
