{% extends "base.html" %}
{% block page_content %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css'  %}"/>
<div class="welcome"><basefont >WELCOME TO MY <font style="color: white; tab-size: 10px"> BLOG </font> PAGE </basefont></div>
<div class="topnavigation">
    <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
    <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;" href="{% url 'project_index' 'Me' %}">My project</a>
{#    <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;" href="{% url 'blog_index' %}">My blog</a>#}
<!--        <a style="margin-left: 1%" href="#contact">Contact</a>-->
    <font style="float: right"> <a href="{% url 'about' %}">About</a> </font>
</div>

<div class="col-md-8 offset-md-2">
    <hr>
    {% for post in posts %}
    <h2><a href="{% url 'blog_detail' post.pk%}">{{ post.title }}</a></h2>
    <small>
        {{ post.created_on.date }} |&nbsp;
        Categories:&nbsp;
        {% for category in post.categories.all %}
        <a href="{% url 'blog_category' category.name %}">
            {{ category.name }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ post.body | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}