.container .img_container {
    position: relative;
    padding-bottom: 50%;
    margin: 10px 0 0 0;
    overflow: hidden;
}

.container img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    /*max-height: 100%;*/
    margin: auto;
}

.like {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.like svg {
    fill: #ae0000;
}
