.idea/*
__pycache__/*
python
user_blog/__pycache__/*
user_topics/__pycache__/*
my_portfolio/__pycache__/*
user_topics/migrations/__pycache__/*
user_blog/migrations/__pycache__/*
user_page/migrations/__pycache__/*
user_page/__pycache__/*
venv/*
db.sqlite3
my_portfolio/static/img/blog/*.jpg
my_portfolio/static/img/blog/*.JPG
my_portfolio/static/img/blog/*.png
my_portfolio/static/img/portfolio/*.jpg
my_portfolio/static/img/portfolio/*.png
my_portfolio/static/img/*.jpg
my_portfolio/static/img/*.png
my_portfolio/static/img/blog/art_cover/*.jpg
my_portfolio/static/img/blog/art_cover/*.png
projects/migrations/*.py
index_page/migrations/*.py
blog/migrations/*.py
my_portfolio/static/img/uploads/2020
