[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest-django = "*"

[packages]
Django = "*"
Pillow = "*"
django-ckeditor = "*"
jsonschema = "*"
django_crispy = "*"
self = "*"

[requires]
python_version = "3.6"
