{% extends "base.html" %}
{% load static %}

{% block sub_script %}
    <script src="{% static "dist/main.js" %}"></script>
{% endblock %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'general_page.css' %}"/>
{% endblock %}

{% block page_title %} TEST {% endblock %}

{% block buttom_navbar %}
    {% if user.is_authenticated %}
        <div class="active">
            <a href="{% url 'UserPage' username %}"> Home </a>
        </div>
    {% else %}
        <div class="active">
            <a href="{% url 'register' %}"> Home </a>
        </div>
    {% endif %}
{% endblock %}

{% block page_content %}
    <hr>
    <div id="post_list"></div>
{% endblock %}
