{% extends "base.html" %}
{% load static %}

{% block sub_script %}
    <script src="{% static "dist/main.js" %}"></script>
{% endblock %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'general_page.css' %}"/>
{% endblock %}

{% block page_title %} TEST {% endblock %}

{% block buttom_navbar %}
    {# <a class="active" href="{% url 'project_index' username %}"> Topics </a> #}
    {# <a href="{% url 'user_page' user_id %}">My knowledge</a> #}
    {# <a href="{% url 'article_index' user_id %}">My user_blog</a> #}
    {# <a href={% url 'logout' %}>Exit</a> #}
{% endblock %}

{% block page_content %}
    <hr>
    <div id="post_list">
        <!-- React will load here -->
    </div>
{% endblock %}
