{% extends "base.html" %}
{% load static %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'blog_style.css' %}"/>
{% endblock %}

{% block sub_script %}
    <script type="text/javascript" src="{% static 'blog_script.js' %}"></script>
{% endblock %}

{% block page_title %}ARTICLES{% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a style="margin-right: 5%" href="{% url 'UserPage' username %}">Home</a>
    </div>
    {#        <a href="{% url 'index_user' user_id %}">My knowledge</a>#}
    {#        <a href="{% url 'article_creation' user_id %}">Create</a>#}
    {#        <a href="{% url 'about' %}">About</a>#}
    {% if username == user.username %}
        <a href="{% url 'article_creation' username %}"> Create </a>
    {% endif %}
{% endblock %}
{% block page_content %}
    <hr>
    <input type="checkbox" id="display_swither">
    <label for="display_swither"> DISPLAY MODE:&nbsp; </label>

    <div class="my_content">
        {% for post in post_list %}
            <div class="my_card">
                <div class="img_container">
                    {% if post.image != '' %}
                        <img src={{ post.image.url }}>
                    {% endif %}
                </div>

                <div class="info">
                    <a href="{% url 'article_detail' post.user.username post.pk %}">{{ post.title }}</a>

                    <small>
                        {{ post.created_on.date }} |&nbsp;
                        Categories:&nbsp;
                        {% for category in post.categories.all %}
                            <a href="{% url 'article_category' post.user.username category.topic.knowledge.name category.name %}">
                                {{ category.name }}
                            </a>
                        {% endfor %}
                    </small>

                    <div>
                        {% if user.username == username %}
                            <a href="{% url 'article_dlt' post.user.username post.pk %}"> Delete article </a> |
                            <a href="{% url 'update_article' post.user.username post.pk %}"> Edit article </a>
                        {% endif %}
                    </div>

                    <a href="{% url 'article_detail' post.user.username post.pk %}" type="button">Detailed</a>
                </div>

                <div class="description">
                    {{ post.header | slice:"1000" }}
                </div>

                <div class="like">
                    Like:
                    <input type="checkbox" class="like" id="liked_{{ post.id }}">
                </div>
            </div>
        {% endfor %}
    </div>
    {% if is_paginated %}
            <div class="pagination">
            {% if page_obj.has_previous %}
                <div>
                    <span><a href="?page={{ page_obj.previous_page_number }}">Previous&nbsp;</a></span>
                </div>
            {% endif %}
                <div class="">
                    <span> Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
                </div>
            {% if page_obj.has_next %}
                <div>
                    <span><a href="?page={{ page_obj.next_page_number }}">&nbsp;Next</a></span>
                </div>
            {% endif %}
            </div>
        {% endif %}
{% endblock %}
