{% extends "base.html" %}
{% load static %}

{% block sub_style %}{% endblock %}

{% block sub_script %}
    <script type="text/javascript" src="{% static 'blog_script.js' %}"></script>
{% endblock %}

{% block page_title %}| POST{% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'UserPage' username %}">Home</a>
    </div>
    <a href="{% url 'article_index' username %}">Blog</a>
{% endblock %}

{% block page_content %}
    <div class="col-md-8 offset-md-2">
        <br>
        <h1>{{ post.title }}</h1>
        <hr>
        <small>
            {{ post.created_on.date }} |&nbsp
            Categories:&nbsp;
            {% for category in post.categories.all %}
                <a href="{% url 'article_category' post.user.username category.topic.knowledge.name category.name %}">
                    {{ category.name }}
                </a>&nbsp;
            {% endfor %}
        </small>

        <p>{{ post.body | safe | linebreaks }}</p>
        <hr>
        {% for comment in comments %}
            <div class="row" id="{{ comment.id }}">
                <div class="col-md-{{ comment.get_col }} offset-{{ comment.get_offset }}">
                    <div>
                        <div>
                            <a href="{% url 'UserPage' comment.user.username %}">{{ comment.user.username }}</a>&nbsp;&nbsp;
                            {{ comment.date }}
                        </div>
                        <div >
                            <div>{{ comment.body|safe }}</div>

                            {% if form %}
                                <a style="display:block; font-weight: 500; cursor: pointer; margin: 10px 0 5px 0;" onclick="get_comment_form({{ comment.id }})"> Reply </a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}

        {% if form %}
            <hr>
            <h4 id="write_comment">
                <a onclick="get_comment_form('write_comment')">Write comment</a>
            </h3>

            <form id="comment_form" action="{% url 'add_comment' username post.id %}" method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-primary">Comment</button>
            </form>

        {% else %}
            <div>
                <div>
                    <h3>Comments</h3>
                </div>
                <div>
                    Not auth! <br />
                </div>
            </div>
        {% endif %}

    </div>
{% endblock %}
