{% extends "base.html" %}

{% block page_title %} | {{ topic|truncatechars:15 }}{% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'UserPage' username %}"> Home </a>
    </div>
    <a href="{% url 'article_index' username %}"> Blog </a>
{% endblock %}

{% block page_content %}
    <div class="col-12 col-md-8 offset-md-2 mt-3">
        <h5>
            Topic <span style="font-weight:400;overflow-wrap: anywhere;">{{ topic | title }}</span> contains in
            {% for ms in main_sections %}
                <a href="{% url 'project_index' username ms %}">{{ ms }}</a>
            {% endfor %}
        </h4>
        <hr>
        {% for post in posts %}
            <h5><a href="{% url 'article_detail' post.user.username post.pk %}">{{ post.title }}</a></h3>
            <br/>
            <small>
                {{ post.created_on.date }} |&nbsp;
                Categories:&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'article_category' post.user.username category.topic.knowledge.name category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ post.header | slice:":400" }}...</p>
            <hr/>
        {% endfor %}
    </div>
{% endblock %}