{% extends "base.html" %}

{% block page_title %} BLOG | CATEGORY {% endblock %}

{% block buttom_navbar %}
    <div class="active">
        <a href="{% url 'project_index' username knowledge %}"> Topics </a>
    </div>
    {#         <a href="{% url 'user_page' user_id %}">My knowledge</a>#}
    {#         <a href="{% url 'article_index' user_id %}">My user_blog</a>#}
    {#        <a href={% url 'logout' %}>Exit</a>#}
{% endblock %}

{% block page_content %}
    <div class="col-md-8 offset-md-2">
        <h1>{{ category.name | title }}</h1>
        <hr>
        {% for post in posts %}
            <h2><a href="{% url 'article_detail' post.user.username post.pk %}">{{ post.title }}</a></h2>
            <small>
                {{ post.created_on.date }} |&nbsp;
                Categories:&nbsp;
                {% for category in post.categories.all %}
                    <a href="{% url 'article_category' post.user.username category.topic.knowledge.name category.name %}">
                        {{ category.name }}
                    </a>&nbsp;
                {% endfor %}
            </small>
            <p>{{ post.header | slice:":400" }}...</p>
        {% endfor %}
    </div>
{% endblock %}