header {
    font: bold 4em "Space Mono", monospace;
    letter-spacing: 9px;
    text-align: center;
    text-transform: uppercase;
    margin: 2%;
}

body.topic_page {
    background-color: #e5e5e5;
}

.my_content {
    display: flex;
    width: 80%;
    margin: 0 auto;
    justify-content: space-around;
}

.topics {
    display: flex;
    flex-direction: column;
    width: 15%;
    background: #ffffff;
    border-radius: 5px;
}

.topics > label {
    display: flex;
    align-items: center;
    height: 5vh;
    font: 1em "Space Mono", monospace;
    justify-content: center;
}

.topics > label:hover {
    color: #d0d0d0;
    background: #7a7a7a;
}

.cards_topics {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
}

.topic:nth-child(8n) {
    flex-basis: 100%;
}

.topic:nth-child(8n) > .img_container {
    padding-bottom: 32.333%;
}

.topic:nth-child(8n+2) {
    flex-basis: 65.666%;
}

.topic:nth-child(8n+2) > .img_container {
    padding-bottom: 50%;
}

.topic:nth-child(8n+6) {
    flex-basis: 65.666%;
}

.topic:nth-child(8n+6) > .img_container {
    padding-bottom: 50%;
}

.topic {
    position: relative;
    width: 32.3333%;
    background: #ffffff;
    margin: 0 0.5% 0.5% 0.5%;
}

.topic > .img_container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.topic > .img_container > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
}

.topic > .description_wrapper {
    display: none;
    overflow: auto;
}

.topic:hover > .description_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    bottom: 20%;
    left: 0;
    right: 20%;
    background: rgba(68, 68, 68, 0.45);
}

.topic:hover > .description_wrapper > .desc {
    font: bold 2em "Space Mono", monospace;
    color: #d0d0d0;
    margin: auto;
}

.my_content > input {
    display: none;
}

.wrapper_sort_system {
    display: flex;
    width: 15%;
    background: #ffffff;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 1%;
    justify-content: flex-end;
    border-radius: 5px;
}

.sort_system {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 100%;
}

.wrapper_sort_system > span {
    text-transform: uppercase;
    color: #e25c45;
    flex-basis: 100%;
}

.sort_system .scale {
    padding-bottom: 3%;
    border: 1px outset rgba(234, 234, 234, 0.23);
}

.sort_system .numb {
    font: bold 1.1em "Space Mono", monospace;
}

.wrapper_sort_system > input {
    margin: 3%;
}
