body.topic_page {

}

.my_content {
    display: flex;
    flex-wrap: wrap;
    width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
}

.topics {
    display: flex;
    flex-direction: column;
    width: 17%;
    border-radius: 5px;
    padding: 0 1% 0 1%;
    box-shadow: 0 20px 50px 0 rgb(0 0 0 / 9%);
}

.topics > label {
    padding: .50rem 0 .50rem 0;
    display: flex;
    align-items: center;
    height: 5vh;
    font: 0.9em "Space Mono", monospace;
    justify-content: center;
    border-bottom: 1px solid rgba(0,0,0,.1);
    margin-bottom: 0;
}

.topics > label:last-child {
    border-bottom: none;
}

.topics > label:hover {
    color: #d0d0d0;
    background: #7a7a7a;
}

.cards_topics {
    display: flex;
    flex-wrap: wrap;
    width: 55%;
    height: 100%;
    box-shadow: 0 10px 50px 0 rgb(0 0 0 / 8%);
}

.topic:nth-child(8n) {
    flex-basis: 100%;
}

.topic:nth-child(8n) > .img_container {
    padding-bottom: 32.333%;
}

.topic:nth-child(8n+2) {
    flex-basis: 65.666%;
}

.topic:nth-child(8n+2) > .img_container {
    padding-bottom: 50%;
}

.topic:nth-child(8n+6) {
    flex-basis: 65.666%;
}

.topic:nth-child(8n+6) > .img_container {
    padding-bottom: 50%;
}

.topic {
    position: relative;
    width: 32.3333%;
    margin: 0 0.5% 0.5% 0.5%;
    box-shadow: 0 10px 50px 0 rgb(0 0 0 / 5%);
}

.topic > .img_container {
    position: relative;
    padding-bottom: 100%;
    overflow: hidden;
}

.topic > .img_container > img {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    margin: auto;
}

.topic > .description_wrapper {
    display: none;
    overflow: auto;
}

.topic:hover > .description_wrapper {
    display: flex;
    align-items: center;
    position: absolute;
    top: 60%;
    bottom: 20%;
    left: 0;
    right: 20%;
    background: rgba(68, 68, 68, 0.45);
}

.topic:hover > .description_wrapper > .desc {
    font: bold 2em "Space Mono", monospace;
    color: #d0d0d0;
    margin: auto;
}

.my_content > input {
    display: none;
}

.wrapper_sort_system {
    display: flex;
    width: 25%;
    background: #ffffff;
    flex-wrap: wrap;
    align-self: flex-start;
    padding: 1%;
    justify-content: flex-end;
    border-radius: 5px;
    box-shadow: 0 10px 50px 0 rgb(0 0 0 / 8%);
}

.sort_system {
    display: flex;
    flex-direction: column-reverse;
    flex-basis: 100%;
    width: 100%;
}

.wrapper_sort_system > span {
    text-transform: uppercase;
    color: #e25c45;
    flex-basis: 100%;
}

.sort_system .scale {
    padding-bottom: 3%;
    border: 1px outset rgba(234, 234, 234, 0.23);
}

.sort_system .numb {
    font: bold 1.1em "Space Mono", monospace;
}

.wrapper_sort_system > input {
    margin: 3%;
}

.my_content > .pagination {
    display: flex;
    list-style: none;
    background-color: #af6800;
    padding: 10px;
    /*color: white;*/
    margin: 5px;
    box-shadow: 0 10px 50px 0 rgb(0 0 0 / 8%);
}

.break {
  flex-basis: 100%;
  height: 0;
}


@media screen and (max-width: 600px) {
    .my_content {
        width: 90%;
    }

    .cards_topics, .topics, .wrapper_sort_system {
        width: 100%;
        margin-bottom: 5%
    }

    .wrapper_sort_system {
        width: 100%;
        margin-bottom: 5%;
        padding: 30px;
    }

    .topic {
        order: 1;
        width: 100%;
        margin-bottom: 2%;
        /*padding: 0 3% 0 3%;*/
    }

    .topic:nth-child(8n),
    .topic:nth-child(8n+2),
    .topic:nth-child(8n+6) {
        flex-basis: 100%;
    }

    .topic:nth-child(8n+2) > .img_container,
    .topic:nth-child(8n) > .img_container,
    .topic:nth-child(8n+6) > .img_container {
        padding-bottom: 100%;
    }

    .wrapper_sort_system {
        order: 2;
        width: 100%;
    }

    .cards_topics {
        order: 3;
        box-shadow: none;
    }
}

@media screen and (min-width: 600px ) and (max-width: 800px ) {
    .my_content {
        width: 60%;
    }

    .cards_topics, .topics {
        width: 100%;
        margin-bottom: 5%;
    }

    .wrapper_sort_system {
        width: 100%;
        margin-bottom: 5%;
        padding: 15%;
    }

    .topic {
        order: 1;
        width: 100%;
        margin-bottom: 2%;
        padding: 0 3% 0 3%;
    }

    .topic:nth-child(8n),
    .topic:nth-child(8n+2),
    .topic:nth-child(8n+6) {
        flex-basis: 100%;
    }

    .topic:nth-child(8n+2) > .img_container,
    .topic:nth-child(8n) > .img_container,
    .topic:nth-child(8n+6) > .img_container {
        padding-bottom: 100%;
    }

    .wrapper_sort_system {
        order: 2;
        width: 100%;
    }

    .cards_topics {
        order: 3;
        box-shadow: none;
    }
}

@media screen and (min-width: 800px ) and (max-width: 1050px ) {
    .my_content {
        width: 1000px;
    }
}
