.fade_in_down a {
  color: #af6800;
  display:inline-block;
  text-decoration: none;
  font-weight: 400;
}

h2 {
  text-align: center;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  display:inline-block;
  margin: 40px 8px 10px 8px;
  color: #cccccc;
}


.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#auth_form {
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.1);
  text-align: center;
}

#auth_form_footer {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 15px;
  text-align: center;
}


h2.inactive {
  color: #cccccc;
}

h2.active {
  color: #0d0d0d;
  border-bottom: 2px solid #af6800;
}


input[type=button], input[type=submit], input[type=reset]  {
  background-color: #323436;
  border: none;
  color: white;
  padding: 5% 20%;
  border-radius: 10rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(61, 61, 61, 0.3);
  margin: 5px 20px 40px 20px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #af6800;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  transform: scale(0.95);
}

input[type=text], input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  transition: all 0.5s ease-in-out;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #fff;
  border-bottom: 2px solid #af6800;
}

input[type=text]:placeholder, input[type=password]:placeholder {
  color: #cccccc;
}


.fade_in_down {
  animation-name: fade_in_down;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fade_in_down {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}



@keyframes fade_in { from { opacity:0; } to { opacity:1; } }

.fade_in {
  opacity:0;
  animation:fade_in ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

.fade_in.first {
  animation-delay: 0.4s;
}

.fade_in.second {
  animation-delay: 0.6s;
}

.fade_in.third {
  animation-delay: 0.8s;
}

.fade_in.fourth {
  animation-delay: 1s;
}


.under_line_hover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #af6800;
  content: "";
  transition: width 0.2s;
}

.under_line_hover:hover {
  color: #0d0d0d;
}

.under_line_hover:hover:after{
  width: 100%;
}


*:focus {
    outline: none;
}

#icon {
  width:60%;
}
