header.page-header {
    display: flex;
    align-items: center;
    color: #333;
    background-color: #af6800;
    padding: 1vmin;
}

header.page-header > a.logo {
    display: flex;
    color: #e6e6e6;
    font: bold 1em "Space Mono", monospace;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

header.page-header > .meta {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

header.page-header > .account {
    display: flex;
}

header.page-header > .account > a {
    color: #e5e5e5;
    margin: 0 5px 0 5px;
}

.login {
    color: #333!important;
    font-weight: bolder;
}

/*----------------------NAVBAR-------------------------*/
.my_navbar {
    display: flex;
    overflow: hidden;
    background-color: #333;
    box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.20);
}

.my_navbar_responsive {
    flex-direction: column;
}

.my_navbar > a,
.my_navbar > div.active > a,
.my_navbar div.icon,
.my_navbar > .my_dropdown,
.my_navbar > .my_dropdown > .dropdown_list > a {
    color: #f2f2f2;
    cursor: pointer;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    box-shadow: 0px 11px 30px -2px rgba(0,0,0,0.20);
}

.my_navbar > .my_dropdown > div.dropdown_list {
    display: none;
    position: absolute;
    flex-direction: column;
    z-index: 9999;
}

.my_navbar > .my_dropdown > div.dropdown_list > a {
    background-color: #333333;
}

a.icon_responsive {
    padding: unset!important;
}

.my_navbar a:hover,
.my_dropdown:hover,
.my_navbar .my_dropdown div.dropdown_list a:hover
{
    background-color: #ddd;
    color: black;
}

.my_navbar .my_dropdown:hover {
    background-color: #ddd;
    color: black;
}

a.icon_responsive:hover {
    background-color: unset!important;
    color: unset!important;
}

.my_navbar > div.active {
    display: flex;
    background-color: #af6800;
    color: white;
}

.my_navbar .icon {
    display: flex;
    color: #e6e6e6;
    margin-left: auto;
}

.displayed {
    display: flex!important;
}

@media screen and (max-width: 600px) {
    .my_navbar > a:not(.active):not(.icon) {
        display: none;
    }

    .my_navbar .my_dropdown {
        display: none;
    }

    .my_navbar .my_dropdown {
        flex-direction: column;
    }

    .displayed {
        position: relative!important;
    }
}

@media screen and (min-width: 600px) {
    .my_navbar .icon {
        display: none;
    }

    .my_navbar .my_dropdown {
        display: block!important;
    }

    .my_navbar {
        flex-direction: row;
    }
}

/*----------------------IMG Page "about"-------------------------*/
.my_container {
    position: relative;
    background: #e6e6e6;
    height: 100%;
}

.my_imageme {
    width: 311px;
    height: 540px;
}

.my_overlay {
    position: relative;
    overflow: hidden;
    height: 0;
    transition: .5s ease;
}

.my_container:hover .my_overlay {
    height: 100%;
    width: 100%;
}
/*---------------------------------------------------*/

.block_of_description {
    position: relative;
    padding-top: 10%;
    align-items: normal;
    text-align: center;
}

.links {
    position: relative;
    background-color: #af6800;
}

.btn.my_style {
    letter-spacing: 1px;
    text-transform: uppercase;
    border-radius: 0;
    color: #fff;
    background: #d08500;
}

h5#art_header {
    text-align: center;
}

@media (min-width: 576px) {
    .card-columns.blog {
        -webkit-column-count: 1;
        column-count: 1
    }
}

@media (min-width: 768px) {
    .card-columns.blog {
        -webkit-column-count: 2;
        column-count: 2
    }
}

@media (min-width: 992px) {
    .card-columns.blog {
        -webkit-column-count: 3;
        column-count: 3
    }
}

ul#field_knowledge li {
    list-style-type: none;
}

ul#categories li {
    list-style-type: none;
}

/* BUTTON */
.btn {
    border-radius: 10rem!important;
}

.btn-primary {
    color: #fff;
    background-color: #bf7826 !important;
    border-color: #bf7826!important;
}

.btn-primary:hover {
    color: #333!important;
    background-color: #ca822c !important;
    border-color: #ca822c!important;
}

.text-lighten {
    color: #999;
}

.cursor-pointer {
  cursor: pointer;
}

/*----------------------LOADER-------------------------*/
.loader {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background: rgba(255, 255, 255, 0.8);
  z-index: 999;
}

.loader-wrap {
  margin: auto;
}

.loader-spinner {
  margin: auto;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border-top: 8px solid #ebebeb;
  border-right: 8px solid #ebebeb;
  border-bottom: 8px solid #ebebeb;
  border-left: 8px solid #af6800;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  -webkit-animation: loader 1.2s infinite linear;
          animation: loader 1.2s infinite linear;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
/*-----------------------------------------------------*/

@media (min-width: 100px) and (max-width: 280px) {
    header.page-header {
        height: 30px;
    }

    div.meta {
        font-size: 6px!important;
    }

    div.account a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
        white-space: nowrap;
    }

    header.page-header {
        font-size: 10px!important;
    }

    .my_navbar a,
    .my_navbar div,
    .my_navbar span {
        font-size: 12px!important;
    }
}

@media (min-width: 281px) and (max-width: 400px) {
    header.page-header {
        height: 30px;
    }

    div.account a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
        white-space: nowrap;
    }

    div.meta {
        font-size: 8px!important;
    }

    header.page-header {
        font-size: 11px!important;
    }

    .my_navbar a,
    .my_navbar div,
    .my_navbar span {
        font-size: 12px!important;
    }
}

@media (min-width: 400px) and (max-width: 500px) {
    header.page-header {
        height: 30px;
    }

    div.account a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 50px;
        white-space: nowrap;
    }

    header.page-header {
        font-size: 12px!important;
    }

    .my_navbar a,
    .my_navbar div,
    .my_navbar span {
        font-size: 12px!important;
    }
}
