{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}KNOWLADGES{% endblock %}
{% block page_content %}

    <body bgcolor="#edf0e8">

    <div class="my_navbar" id="my_navbar">
        <a class="active" href="{% url 'index' %}">Home</a>
        {% if user_id != 'anon' %}
            <a href="{% url 'get_userpage' user_id %}">My knowledge</a>
            {# <a href={% url 'create_portfolio' user_id %}>Create</a> #}
            <a href="{% url 'article_index' user_id %}">My blog</a>
            <a href={% url 'logout' %}>Exit</a>
        {% endif %}
        <a href="https://github.com/eiire">Contact</a>
        <a href="{% url 'about' %}">About</a>
        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>

    {% if user == False %}
        <h1 align="center">Other portfolios</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        {% for portfolio in portfolios %}
                            <div class="col-4">
                                <div class="card">
                                    <img src="{{ portfolio.image.url }}" class="card-img-top"/>
                                    <div class="card-body">
                                        {{ portfolio.as_p }}
                                        <a href="{% url 'project_index' portfolio.user.pk portfolio.pk %}" class="btn btn-primary">Check
                                            Projects</a>
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-2">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <p>{{ auth_form.login | as_crispy_field}}</p>
                        <p>{{ auth_form.password | as_crispy_field}}</p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url "register" %}">Register</a>
                    </form>

                </div>
            </div>
        </div>
    {% else %}
        {#<h6 align="right">{{ user_id }}</h6>#}
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        {% for portfolio in portfolios %}
                            <div class="col-4">
                                <a href="{% url 'portfolio_dlt' user_id portfolio.pk %}"> Delete portfolio </a>
                                <div class="card">
                                    <img src="{{ portfolio.image.url }}" class="card-img-top"/>
                                    <div class="card-body">
                                        <p>Name: {{ portfolio.name }}</p>
                                        <p>Topics: {{ portfolio.topics }}</p>
                                        <a href="{% url 'project_index' portfolio.user.pk portfolio.pk %}" class="btn btn-primary">
                                            Check topics</a>
                                    </div>
                                </div>
                            <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-2">
                    This Personal Short Info
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    </body>
{% endblock %}