{% extends "base.html" %}
{% load static %}
{% block page_title %} KNOWLEDGE|PAGE {% endblock %}
{%  block page_content %}
    <div class="my_navbar" id="my_navbar">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}"> Home </a>

        {% if user.is_authenticated %}
            <a href="{% url 'index_user' user.id %}"> My feed </a>
            <a href="{% url 'logout' %}"> Log out </a>
            {# <a href="{% url 'index_user' user.id %}">My feed</a> #}
        {% else %}
            <a href="{% url 'login' %}"> Log in </a>
            <a href="{% url 'register' %}"> Sign up </a>
        {% endif %}

        <a href="{% url 'about' %}">About</a>

        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i> F </i>
        </a>
    </div>

    <body>
    {% if knowledges != None %}
        <div id="demo" class="carousel slide" data-ride="carousel">
            <ul class="carousel-indicators">
                {% for object in knowledges %}
                    {% if forloop.counter ==  1%}
                        <li data-target="#demo" data-slide-to="0" class="active"></li>
                    {% else %}
                        <li data-target="#demo" data-slide-to="1"></li>
                    {% endif %}
                {% endfor %}
            </ul>

            <div class="carousel-inner">
                {% for knowledge in knowledges %}
                    {% if forloop.counter == 1 %}
                        <div class="carousel-item active">
                    {% else %}
                        <div class="carousel-item">
                    {% endif %}

                        <a href="{% url 'project_index' user_id knowledge.pk  %}">
                            <img src="{{ knowledge.image.url }}">
                        </a>

                        <div class="carousel-caption">
                            <h3>{{ knowledge.name }} | {{ knowledge.topics }}</h3>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <a class="carousel-control-prev" href="#demo" data-slide="prev">
                <span class="carousel-control-prev-icon"></span>
            </a>
            <a class="carousel-control-next" href="#demo" data-slide="next">
                <span class="carousel-control-next-icon"></span>
            </a>
        </div>
    {% endif %}

    <div class="col-md-8 offset-md-2">
        <h1>{{ category | title }}</h1>
        <hr>
        {% for post in posts %}
            <h2><a href="{% url 'article_detail' post.user_id post.pk %}">{{ post.title }}</a></h2>

            <small>
                <p> {{ post.created_on.date }} |&nbsp;
                    Categories:&nbsp;
                    {% for category in post.categories.all %}
                        <a href="{% url 'article_category' post.user_id category.id %}">
                            {{ category.name }}
                        </a>&nbsp;
                    {% endfor %}
                </p>

                <img src="{{ post.image.url }}">
            </small>
            <p>{{ post.header | slice:":400" }}...</p>
        {% endfor %}
    </div>

    </body>
{% endblock %}