{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block page_title %}HOME{% endblock %}
{% block page_content %}

    <body bgcolor="#edf0e8">

    <div class="topnavigation">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
        {% if user_id != 'anon' %}
            <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;"
               href="{% url 'get_userpage' user_id %}">My portfolios</a>
            <a style="float: right" href={% url 'create_portfolio' user_id %}>Create</a>
            <a style="margin-left: 1%; padding-right: 35px; padding-left: 35px;"
               href="{% url 'article_index' user_id %}">My blog</a>
            <a style="float: right" href={% url 'logout' %}>Exit</a>
        {% endif %}
        <a style="margin-left: 1%" href="#contact">Contact</a>
        <font style="float: right"> <a href="{% url 'about' %}">About</a> </font>
    </div>

    {% if user == False %}
        <h1 align="center">Other portfolios</h1>

        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        {% for portfolio in portfolios %}
                            <div class="col-4">
                                <div class="card">
                                    <img src="{% static portfolio.image %}" class="card-img-top"/>
                                    <div class="card-body">
                                        <p>Name: {{ portfolio.name }}</p>
                                        <p>Adress: {{ portfolio.address }}</p>
                                        <p>Age: {{ portfolio.age }}</p>
                                        <p>Contacts: {{ portfolio.contacts }}</p>
                                        <a href="{% url 'project_index' user_id portfolio.name %}" class="btn btn-primary">Check
                                            Projects</a>
                                        <hr></hr>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-2">
                    <form action="/" method="post">
                        {% csrf_token %}
                        <p>{{ auth_form.login | as_crispy_field}}</p>
                        <p>{{ auth_form.password | as_crispy_field}}</p>
                        <button type="submit" class="btn btn-primary">Submit</button>
                        <a href="{% url "register" %}">Register</a>
                    </form>

                </div>
            </div>
        </div>
    {% else %}
        {#<h6 align="right">{{ user_id }}</h6>#}
        <hr>
        <div class="container-fluid">
            <div class="row">
                <div class="col-10">
                    <div class="row">
                        {% for portfolio in portfolios %}
                            <div class="col-4">
                                <div class="card">
                                    <img src="{% static portfolio.image %}" class="card-img-top"/>
                                    <div class="card-body">
                                        <p>Name: {{ portfolio.name }}</p>
                                        <p>Adress: {{ portfolio.address }}</p>
                                        <p>Age: {{ portfolio.age }}</p>
                                        <p>Contacts: {{ portfolio.contacts }}</p>
                                        <a href="{% url 'project_index' user_id portfolio.name %}" class="btn btn-primary">
                                            Check Projects</a>
                                    </div>
                                </div>
                            <hr>
                            </div>
                        {% endfor %}
                    </div>
                </div>

                <div class="col-2">
                    This Personal Short Info
                </div>
                </div>
            </div>
        </div>
    {% endif %}
    </body>
{% endblock %}