{% extends "base.html" %}
{% load static %}

{% block sub_style %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_style.css' %}"/> {# CSS style from app #}
{% endblock %}

{% block page_content %}
    <body>
        <div class="wrapper fade_in_down">
            <div id="auth_form">
                {% if next %}
                <form action="/login/?next={{ next }}" method="post">
                {% else %}
                <form action="/login/" method="post">
                {% endif %}
                    {% csrf_token %}
                    {{ form }}
                    <input type="submit" class="fade_in fourth" value="Log In">
                </form>

                <div id="auth_form_footer">
                    <a class="under_line_hover" href="#">Forgot Password?</a>
                </div>
            </div>
        </div>
    </body>
{% endblock %}
