{% extends "base.html" %}
{% load static %}
{% block page_title %} PROJECT {% endblock %}
{% block page_content %}
    <div class="my_navbar" id="my_navbar">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
        {% if user_auth %}
            <a href="{% url 'project_index' id_knowledge user_id%}">My portfolios</a>
            <a href="{% url 'article_index' user_id %}">My blog</a>
        {% endif %}
         <a href="https://github.com/eiire">Contact</a>
        <a href="{% url 'about' %}">About</a>
        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>
    <hr>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-5">
                <img src="{% static project.image %}" alt="" width="100%"> {# load static files inside project #}
            </div>
            <div class="col-md-3">
                <h5>About the project:</h5>
                <p>{{ project.description }}</p>
                <br>
                <h5>Technology used:</h5>
                <p>{{ project.technology }}</p>
                <h5>GitHub Project`s:</h5>
                <p>{{ project.github }}</p>
            </div>
        </div>
    </div>
{% endblock %}