{% extends "base.html" %}
{% load static %}
{% block page_title %} PROJECT|CREATOR {% endblock %}
{% block page_content %}
    <div class="my_navbar" id="my_navbar">
        <a class="active" style="margin-right: 5%" href="{% url 'index' %}">Home</a>
        {% if user_auth %}
            <a href="{% url 'project_index' name_portfolio user_id%}">My portfolios</a>
            <a href="{% url 'project_index' user_id name_portfolio %}">My Projects</a>
        {% endif %}
        <a href="https://github.com/eiire">Contact</a>
        <a href="{% url 'about' %}">About</a>
        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>
    <hr>
    <div class="card-body">
        <form method="post">
            {% csrf_token %}
            <p>{{ form.user_portfolio }}</p>
            <p>{{ form.title }}</p>
            <p>{{ form.technology }}</p>
            <p>{{ form.github }}</p>
            <p>{{ form.name_for_portfolios }}</p>
            <input type="submit" class="btn btn-primary" value="Сохранить"/>
        </form>
    </div>
{% endblock %}