{% extends "base.html" %}
{% load static %}
{% block page_title %} PROJECTS {% endblock %}
{% block page_content %}

    <div class="my_navbar" id="my_navbar">
        <a class="active" href="{% url 'index' %}">Home</a>

        {% if user == True %}
            <a href="{% url 'get_userpage' user_id %}">My portfolios</a>
            <a href="{% url 'project_creator' user_id name_portfolio %}">Create</a>
        {% endif %}

        <a href="{% url 'article_index' 'TEST'%}">My blog</a>
        <a href="https://github.com/eiire">Contact</a>
        <a href="{% url 'about' %}">About</a>
        <a href="javascript:void(0);" class="icon" onclick="collaps_navbar()">
            <i>F</i>
        </a>
    </div>

    <hr>

    <div class="row" align="center">
        {% for project in projects %}
            <div class="col-md-4">
                <div class="card mb-2">
                    <img class="card-img-top" src="{% static project.image %}">
                    <div class="card-body">
                        <h5 class="card-title">{{ project.title }}</h5>
                        <p class="card-text">{{ project.description }}</p>
                        <a href="{% url 'project_detail' user_id name_portfolio project.pk %}"
                           class="btn btn-primary">
                            Read More
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}