.my_content {
    margin: 0 10% 0 10%;
}

/*CARDS*/
.my_card {
    display: block;
    width: 100%;
    margin: 0 1% 20px 1%;
    float: left;
    transition: width 0.5s;
}

@media only screen and (min-width: 450px) {
    .my_card {
        width: 50%;
    }
}

@media only screen and (min-width: 768px) {
    .my_card {
        width: 33.333%;
    }
}

@media only screen and (min-width: 1000px) {
    .my_card {
        width: 23%;
    }
}

.my_content > .my_card > .info > a {
    display: inline-block;
    text-align:center;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
}

.my_content > .my_card > .info > a:hover {
    color: #e25c45;
}


.my_content > .my_card > .img_container {
    position: relative;
    padding-bottom: 100%; /* !!! */
    /*margin: 0 20px 0 20px;*/
    overflow: hidden;
}

.my_content > .my_card > .img_container > img {
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    /*max-height: 100%;*/
    margin: auto;
}

.my_content > .my_card > .img_container > img:hover {
    opacity: 0.7;
}

.description {
    display: block;
    width: 100%;
    float: left;        /* [NOTE] The element becomes a block and inherits the width of the parent. */
    text-align: justify;
    height: 100px;
    overflow: auto;     /* At the same time will align the block in line-by-line display mode */
}
/*END CARD*/

/*SWITCHER*/
label[for='display_swither'] {
    float: right;
}
input#display_swither {
    float: right;
    margin-right: 1%;
}

input#display_swither:checked + label + .my_content > .my_card {
    margin-top: 5%;
    width: 100%;
}

input#display_swither:checked + label + .my_content > .my_card > .img_container {
    width: 15%;
    position: relative;
    margin: 0 20px 0 0;
    float: left;
    padding-bottom: 0;
}

input#display_swither:checked + label + .my_content > .my_card > .img_container > img {
    position: relative;
}

input#display_swither:checked + label + .my_content > .my_card > .info {
    float: left;
    margin: 0 20px 0 0;
}

/* !!! */
input#display_swither:checked + label + .my_content > .my_card > .description {
    height: auto;
    width: 60%;
    /*float: initial;*/
}

input#display_swither:checked + label + .my_content > .my_card > .like {
    float: right;
}

input#display_swither:checked + label + .my_content > .my_card > .info {
    width: 15%;
}
/*END SWITHER*/

.pagination {
    clear: left;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    width: max-content;
}
